html {
	position: relative;
	min-height: 100%;

}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
	background: #222233;
	color: #ccc;
}

/*MODAL ALERT*/

#alertMsg {
	display: none ;
	
}


.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
	background-color: #f1f5f5;
}
